<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/css.css">

    <!-- <script src="/views/jquery.js"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

</head>

<body>
    <div class="conteiner">
        <h1>
            Products
        </h1>
    </div>

    <div class="d-flex jutify-content-center">

        <form>
            <div>
                <input style="background-color: rgb(210, 243, 210);" type="text" id="pname" class="form-control"
                    placeholder="Product name" autocomplete="off">
                <div class="row">
                    <div class="col">
                        <input style="background-color: rgb(210, 243, 210);" type="text" id="quantity"
                            class="form-control" placeholder="Quantity" autocomplete="off">
                    </div>
                    <div class="col">
                        <input style="background-color: rgb(210, 243, 210);" type="text" id="price" class="form-control"
                            placeholder="Price (kr)" autocomplete="off">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="valu" class="d-flex jutify-content-center">
        <button class="btn btn-success" id="btn-create">Create</button>
    </div>




    <div class="conteiner">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Delete<i class="fas fa-trash btndelete" id="btndelete"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- <td id="tpname"></td>
                    <td id="tq"></td>
                    <td id="tp"></td>
                    <td><i class="fas fa-edit btnedit"></i></td>
                    <td><i class="fas fa-trash btndelete"></i></td> -->

                </tr>





            </tbody>
        </table>
    </div>

    <script>
        $("document").ready(function () {
            $("#btn3").on("click", function () {
                alert('Do you want to create a new user?');
            })
        });

        // $("document").ready(function () {
        //     $("#btn-create").on("click", function () {
        //         let pname = $('#pname').val();
        //         $('#tpname').text(pname);
        //         let quantity = $('#quantity').val();
        //         $('#tq').text(quantity);
        //         let price = $('#price').val();
        //         $('#tp').text(price);
        //         let product = { pname, quantity, price }
        //         console.log(product);

        //     })
        // });

        $("document").ready(function () {
            $("#btn-create").on("click", function () {
                var productname = $("#pname").val();
                var quantity = $("#quantity").val();
                var price = $("#price").val();
                // var btndelete = '<i class="fas fa-trash btndelete" id="btndelete">';

                $('.table tbody tr').last().after(
                    '<tr>' +
                    '<td>' + productname + '</td>' +
                    '<td>' + quantity + '</td>' +
                    '<td>' + price + '</td>' +
                    '<td><i class="fas fa-trash btndelete"></i>' + '</td>' +
                    '</tr>'
                );
            })

        });
        $("document").ready(function () {
            $(".table tbody tr td btndelete").on("click", function () {
                alert('Do you want to delete this product?');
                // $("#tabelproduct").each.length;
                // $(this).remove;
            })
        });

        $("document").ready(function () {
            $(".btndelete").on("click", function () {
                alert('Do you want to delete this product?');
                // $("#tabelproduct").each.length;
                // $(this).remove;
            })
        });





    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/43914c7496.js" crossorigin="anonymous"></script>
</body>

</html>