<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>

        type = "text/javascript"
        var request1 = request1.query('select * from USERS1', function (err, request1) {
            if (err) console.log(err);
            res.end(JSON.stringify(request1)); // Result in JSON format
        });
        consol.log(JSON.parse(request1));
    </script>
</body>

</html>